/* Estilos para BaseWindow.fxml */
.basewindow-root {
    -fx-background-color: #2e3136;
    -fx-border-color: #e75480;
    -fx-border-width: 2.5;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
    -fx-effect: dropshadow(gaussian, #e75480, 24, 0.6, 0, 0), dropshadow(gaussian, #000000, 32, 0.5, 0, 6);
}
.basewindow-header {
    -fx-background-color: #202225;
}
.basewindow-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basewindow-minimize {
    -fx-fill: #fdfd96;
}
.basewindow-maximize {
    -fx-fill: #b6f77d;
}
.basewindow-close {
    -fx-fill: #ff6961;
}
